
<mat-card>

  <form class="exmple-form">
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "email" name = "email" matInput placeholder="email">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password" name = "password" matInput placeholder="password">
    </mat-form-field>
    <br>


     <button mat-raised-button color="primary" (click)="login()">Log-in</button>

  </form>
  
</mat-card>  