<mat-card >

  <button (click) = "toLogin()" *ngIf="!(authService.user | async)" >log-in</button>
  <button (click) = "toLogout()" *ngIf= "(authService.user | async)" >log-out</button>

  <button (click) = "toPayments()">payments</button>
  
  </mat-card>
