
<mat-card>

    <div *ngIf = "(authService.user | async)">
        <h1 style = "text-align: center;">Welcome </h1>
        <h3 style = "text-align: center;">{{adress}}</h3>

</div>
    
 <div *ngIf="!(authService.user | async)">
  <form class="exmple-form">
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name = "name" matInput placeholder="name">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "amount" name = "amount" matInput placeholder="amount">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "code" name = "code" matInput placeholder="code">
  </mat-form-field>
  <br>

     <button mat-raised-button color="primary" (click)="addPayment()">Pay</button>

  </form>
  </div>
</mat-card>  